.areaThree {

    .areaContainer {
    // background: linear-gradient(180deg, rgba(100,100,100,0.3) 0%, rgba(255,255,255,0.2) 20%, rgba(244,244,244,0.8) 100%);
    background-color: rgba(190, 190, 190, 0.6);
    padding: 5em 1.5em 1.5em 1.5em;
    text-align: center;

    .areaThreeCardsContainer {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10%;

        .areaThreeCard {
            background-color: white;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
            display: grid;
            grid-template-rows: repeat(4, auto);
            transition-duration: 0.5s;
            text-align: center;
            margin-bottom: 2em;

            img {
                width: 100%;
            }

            h4 {
                padding: 1em;
            }

            p {
                padding: 0 1em;
                padding-bottom: 1em;
            }

            a {
                background-color: #d3d3d3;
                text-decoration: none;
                margin: 0.4em;
                padding: 0.3em;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                color: #202020;
                transition-duration: 0.2s;
            }

            a:hover {
                transition-duration: 0.2s;
                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
            }
        }

        .areaThreeCard:hover {
            transform: translateY(-10px);
            transition-duration: 0.5s;
            box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
        }
    }

    .Date {
        margin: 0 1em 2em 1em;
        color: white;
        h2 {
            font-weight: 600;
            margin-bottom: 0.6em;
        }
    }

    .SecureYourPlace {
        background-color: rgb(230, 230, 230);
        border: none;
        text-decoration: none;
        padding: 1em;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        color: #202020;
        transition-duration: 0.2s;
        outline:none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 2em;

        h3 {
            font-weight: 400;
        }
    }

    .SecureYourPlace:hover {
        transition-duration: 0.5s;
        background-color: white;
        box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.4);
    }
    }
}


