.areaFour {

    .areaContainer {
    // background: linear-gradient(180deg, rgba(100,100,100,0.3) 0%, rgba(255,255,255,0.2) 20%, rgba(244,244,244,0.8) 100%);
    background-color: rgba(190, 190, 190, 0.6);
    padding: 5em 1.5em 0 1.5em;
    text-align: center;

        .contact-cards-container {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-content: center;

            .contact-card {
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                max-width: 300px;
                background-color: white;
                text-align: center;
                transition-duration: 0.5s;
                margin-bottom: 2em;
    
                img {
                    width: 100%;
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
                }
    
                h3 {
                    font-size: calc( 1.3rem + 16 * (100vw - 280px) / (960 - 280));
                    padding: 0.4em 0;
                }

                h4 {
                    font-weight: 400;
                }
    
                .contact-card-contact {
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: repeat(2, 1fr);
                    grid-row-gap: 0.5em;
                    align-items: center;
                    padding: 1.2em 1em;

                    i {
                        font-size: 1.6rem;
                        transition-duration: 0.2s;
                    }

                    i:hover {
                        color: #d8aa4f;
                        transform: scale(1.2);
                    }

                    p {
                        font-size: calc( 0.8rem + 16 * (100vw - 280px) / (960 - 280));
                    }
            
                    a {
                        width: 100%;
                        text-decoration: none;
                        color: black;
                    }
                }
            }

            .contact-card:hover {
                transform: translateY(-10px);
                box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
            }
        }

        h6 {
            padding-bottom: 2em;
            color: white;
        }
    }
}