nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0.3em;
    transition: all 0.4s;
    opacity: 0;
    pointer-events: none;

    .nav-list {
        display: none;
        list-style: none;
        transition: all 0.4s;

        li {
            margin: 0.2em;

            a {
                color: rgb(40, 40, 40);
                text-decoration: none;
                transition-duration: 0.1s;
            }

            a:hover {
                color: #cc9933;
            }
        }

        .separator {
            height: 2em;
            width: 1px;
            background-color: rgb(40, 40, 40);
        }
    }

    .nav-list-display {
        display: block;
    }

    a {
        margin: auto auto auto 0;
        .logo {
            align-items: start;
            grid-area: logo;
        }
    }

    .partners {
        display: flex;

        .partner {
            margin: auto;
            text-align: center;
    
            p {
                margin-bottom: 0.3em;
            }
            
            img {
                height: 20px;
                width: auto;
            }
        }
    }

    .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
    padding: 1em;
    }

    .burger {
        width: 30px;
        height: 4px;
        background: rgb(120, 120, 120);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background: rgb(120, 120, 120);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
    }

    .burger::before {
        transform: translate(-15px, -10px);
    }
    
    .burger::after {
        transform: translate(-15px, 10px);
    }

    .menu-btn.open .burger {
        transform: translateX(30px);
        background: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .burger::before {
        transform: rotate(45deg) translate(-35px, 35px);
    }
    
    .menu-btn.open .burger::after {
        transform: rotate(-45deg) translate(-35px, -35px);
    }
}

.nav-active {
    opacity: 1;
    pointer-events: auto;
}