html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;

    background-image: url(/img/london_pixels.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    color: #202020;

}

.container-active {
    display: block;
}

@import "_intro.scss";
@import "_nav.scss";
@import "_areaOne.scss";
@import "_areaTwo.scss";
@import "_areaThree.scss";
@import "_areaFour.scss";
@import "_footer.scss";

@import "_moreInfo.scss";

@import "_MQ-Mobile";
@import "_MQ-Tablet";
@import "_MQ-Laptop";
@import "_MQ-Desktop";
@import "_MQ-DesktopLG";